*.ipr
*.iws
.gradle
build
.idea
classes
*.iml
.DS_Store
log/
out
.local
buildSrc
*-local.yml
*-local.xml
gradle/*
gradle/wrapper/dists
!gradle/wrapper/
logs
deploy
deploy-uat
deploy-production
.tool-versions
.vscode/
.classpath
.project
.bloop
.metals
.settings
common/bin
core/bin
spark/bin
*.log
.run
metastore_db
*.jar
~$*.xlsx
spark-warehouse
**/bin
paimon-warehouse
